body {
  background-color: #fdfdfd;
}

.page {
  font-family: "Inconsolata", monospace;
  font-size: 27px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #151515;
  overflow-y: auto;
}

.content {
  max-width: 720px;
  margin: 15px;
  padding: 15px;
}

.text-pop {
  text-decoration: none;
  color: rgb(72, 150, 250);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0, .5, 0, 1) .3s;
}

.text-pop:hover,
.text-pop:focus {
  text-decoration: none;
  background-size: 100% 2px;
}

.db {
  color: rgb(19, 129, 195);
}

.mesmer {
  color: rgb(202, 37, 218);
}

.verizon {
  color: rgb(205, 4, 11);
}

.yahoo {
  color: rgb(74, 0, 160);
}

.dynasty {
  color: rgb(69, 159, 195);
}

.wealthfront {
  color: rgb(79, 70, 180);
}

.expand {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.expand:after {
  display: block;
  content: '';
  border-bottom: solid 3px #000;
  transform: scaleX(0);
  transition: transform 270ms ease-in-out;
  transform-origin: 100% 50%
}

.expand:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.post-list {
  list-style-type: none;
  padding: 0;
}