* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(235, 231, 224);
	width: 100vw;
	height: 100vh;
}

.page {
    font-family: Helvetica;
    width: 100vw;
    height: 100vh;
}
a {
    text-decoration: none;
    color: white;
}
em{
    font-style: normal;
    text-decoration: none;
    color: rgb(241, 134, 60);
}
.menu-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    background: rgb(70, 117, 155);
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(1, 1, 1, 0.1);
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 2rem;
    color: white;
}

.menu {
    display: flex;
    width: 175px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}
.menu-elements {
    display: inline;
    color: white;
}

.intro-container {
    display: flex;
    width: 100vw;
    height: 40vh;
    padding-top: 10vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px
}

.headshot {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    border: 2px solid black;/*rgb(70, 117, 155);*/
}

.intro-text>p {
    font-size: 2.6rem;
    height: 100px;
    /*border: 1px solid orange;*/
}
.intro-header {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: auto;
    justify-content: space-around;
    align-items: center;
    /*border: 1px solid blue;*/
}
.intro-text {
    display: flex;
    width: 475px;
    height: 175px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    /*border: 1px solid pink;*/
}

.links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    /*border: 1px solid red;*/
}

.icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.icon:hover {
    background: rgb(241, 134, 60); /*BDFCC9 ffa500*/
    overflow: hidden;
}

.intro-paragraph {
    font-size: 1.125rem;
    margin: 20vw;
    margin-top: 50px;
}

.text-pop {
    color: rgb(248, 105, 32);
}

.lol {
    display: flex;
    width: 100vw;
    height: 40vh;
    padding-top: 40vh;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    .intro-paragraph {
        width: 90vw;
        margin: auto;
    }
    .intro-container {
        flex-direction: column;
        width: 95vw;
        height: auto;
        margin: auto;
    }
    .intro-header {
        flex-direction: column;
        width: 95vw;
    }
    .intro-text {
        width: 95vw;
        height: 350px;
        margin: auto;
        margin-bottom: 50px;
        flex-direction: column;
    }
    .links-container {
        width: 95vw;
        margin: auto;
    }
    .name,
    .menu-elements {
        font-size: 5vw;
    }
    .headshot {
        width: 95vw;
        height: 95vw;
    }
}
